[submodule "vendor/github.com/atotto/clipboard"]
	path = vendor/github.com/atotto/clipboard
	url = git://github.com/atotto/clipboard
[submodule "vendor/github.com/proglottis/gpgme"]
	path = vendor/github.com/proglottis/gpgme
	url = git://github.com/proglottis/gpgme
[submodule "vendor/github.com/rjeczalik/notify"]
	path = vendor/github.com/rjeczalik/notify
	url = git://github.com/rjeczalik/notify
[submodule "vendor/github.com/limetext/qml-go"]
	path = vendor/github.com/limetext/qml-go
	url = git://github.com/limetext/qml-go
	branch = go16
